.signIn {
  position: relative;

  &__form {
    margin-top: 32px;

    &__group {
      gap: 14px;
      width: 100%;
      margin: 0 auto;
      max-width: 420px;
      margin-bottom: 220px;
      @extend %flex-column;

      &__header {
        color: var(--font);
        margin-bottom: 32px;
        @extend %text-20;
      }
      &__button {
        gap: 24px;
        text-transform: capitalize;
        @extend %flex-end;
      }
      &__edit {
        gap: 24px;
        margin-top: 16px;
        text-transform: capitalize;
        @extend %flex-end;

        &__cancel {
          padding: 0;
          color: var(--cancel);
          text-transform: capitalize;
          @extend %text-14-bold;
        }
        &__save {
          padding: 0;
          border: none;
          color: #004f33;
          max-width: fit-content;
          background-color: transparent;
          @extend %text-14-bold;
        }
      }
    }
  }
}
