.wrapper {
  top: 0;
  left: 0;
  z-index: 4;
  height: calc(100vh - 60px);
  position: fixed;
  min-width: $sidebar-min;
  max-width: $sidebar-min;
  overflow: hidden;
  transition: min-width 0.4s ease-in-out;
  background-color: var(--sidebar-background);
  @extend %sidebar-shadow;

  &__active {
    min-width: $sidebar-max;
  }

  &__burger {
    padding: 24px;
    @extend %flex-align;

    :not(:last-child) {
      min-width: 24px;
      margin-right: 24px;
      cursor: pointer;
    }

    svg:last-child {
      transition: 0.6s ease;
      path {
        fill: var(--icon-primary) !important;
      }
    }

    &_open {
      opacity: 1 !important;

      svg path {
        fill: var(--icon-primary) !important;
      }
    }

    svg path {
      fill: var(--icon-primary) !important;
    }
  }
}

.divider {
  width: 100%;
  height: 1px;
  background: var(--sidebar-line);
}

.list {
  min-height: 48px;
  justify-content: left;
  @extend %flex-align;

  &__open {
    justify-content: initial;
    color: var(--sidebar-font);
  }

  &__selected {
    width: 100%;
    position: relative;
    color: var(--sidebar-selected) !important;

    &::after {
      content: '';
      position: absolute;
      top: 50;
      right: 0;
      width: 2px;
      height: 24px;
      background-color: var(--sidebar-selected);
      border-radius: 25px 0px 0px 25px;
      opacity: 0;
    }
    &__open {
      &::after {
        opacity: 1;
      }
    }

    svg path {
      fill: var(--icon-secondary-selected) !important;
      fill-opacity: 1 !important;
    }
    .list__text {
      color: var(--sidebar-selected) !important;
    }
  }
  &__icon {
    padding: 12px 24px;
    @extend %flex-center;

    svg path {
      fill: var(--icon-secondary);
      fill-opacity: var(--icon-primary-opacity);
    }
  }
  &__text {
    opacity: 0;
    color: var(--sidebar-font);
    transition: 0.6s ease;

    &__open {
      opacity: 1;
    }
  }
}
