.form {
  position: relative;

  &__header {
    color: var(--font);
    @extend %text-18;
  }

  &__section {
    gap: 16px;
    width: 100%;
    max-width: 525px;
    @extend %flex-column;

    &__item {
      gap: 24px;
      width: 100%;
      position: relative;
      @extend %flex-align;

      div {
        flex: 1;
      }

      &__add_button {
        cursor: pointer;
        color: #0097a7;
        @extend %text-14-bold;
      }

      &__subtitle {
        color: var(--font);
        @extend %subtitle-16;
      }
    }
  }

  &__action {
    gap: 18px;
    width: 100%;
    max-width: 525px;
    @extend %flex-column;

    &__item {
      color: var(--font);
      @extend %flex-between;
    }
  }

  &__buttons {
    gap: 24px;
    align-items: center;
    @extend %flex-end;

    &__submit {
      cursor: pointer;
      text-transform: uppercase;
      color: #ffffff;
      background-color: #0097a7;
      @extend %text-14-bold;
    }

    &__cancel {
      cursor: pointer;
      text-transform: uppercase;
      color: #4c4b53;
      @extend %text-14-bold;
    }
  }
}

.checkbox__text {
  color: var(--font);
}

.disable {
  color: var(--placeholder);
}

.bin {
  position: absolute;
  right: -41px;
  top: calc(50% - 12px);
  cursor: pointer;
}

.input {
  gap: 0 !important;
}

.errorMsg {
  left: 0;
  color: var(--danger);
  bottom: 0;

  // transform: translate(0, 100%);
  @extend %text-14;
}

.exchange {
  text-transform: lowercase;
  text-transform: capitalize;
}
