.wrapper {
  position: relative;
  backdrop-filter: blur(10px);
  z-index: 1000;
  min-width: 155px;

  &__inner {
    position: absolute;
    display: none;
    top: 36px;
    left: 0;
    height: 100%;
    border-radius: 0px 0px 2px 2px;

    &__open {
      display: block;
    }
  }

  &__select {
    background: var(--input-border);
    border: 1px solid var(--button-border);
    border-radius: 4px;
    color: var(--font);
    padding: 10px 40px 10px 10px;
    @extend %text-14;
    position: relative;

    &__dropdown {
      position: absolute;
      right: 12px;
      width: 24px;
      height: 24px;
      cursor: pointer;
      top: calc(50% - 12px);

      path {
        fill: var(--dropdown-svg);
      }
      &__disable {
        path {
          fill: var(--placeholder) !important;
        }
      }

      &__open {
        transform: rotate(180deg);
      }
    }

    &__options {
      padding: 4px 16px;
      background: var(--paper);
      backdrop-filter: blur(10px);
      @extend %text-14;
      min-width: 135px;

      &:hover {
        background: var(--input-border);
      }
    }
  }
}
