// Main Colors
$primary: #faffff;
$primary-font: #212121;
$primary-input: rgba(210, 210, 210, 0.2);
$primary-check: #446384;
$secondary: #0097a7;
$secondary-alpha: rgba(0, 151, 167, 0.41);

$secondary-border: rgba(88, 195, 190, 0.1);
$secondary-font: rgba(33, 33, 33, 0.6);
$secondary-input: rgba(255, 255, 255, 0.4);
$sidebar-background: rgba(255, 255, 255, 0.7);
$primary-placeholder: #bab9bd;
$line: #d6d6d6;
$danger: #8d0000;
$white: #ffffff;
$disable: #4c5853;
