//mode
:root {
  --table-head: #0097a7;
  --table-item: #9a99a6;
  --table-title: #080808;
  --font: #212121;
  --background: #faffff;
  --placeholder: #bab9bd;
  --button-background: #0097a7;
  --button-background-secondary: #0097a7;
  --button-color: #ffffff;
  --button-border: rgba(88, 195, 190, 0.1);
  --button-border-secondary: #0097a7;
  --checkbox-input: #446384;
  --checkbox-color: rgba(33, 33, 33, 0.6);
  --danger: #8d0000;
  --copyright: rgba(33, 33, 33, 0.6);
  --input-color: #212121;
  --input-background: rgba(210, 210, 210, 0.2);
  --input-background-secondary: rgba(210, 210, 210, 0.2);
  --input-active: rgba(255, 255, 255, 0.4);
  --input-border: #413ac7;
  --link-color: #212121;
  --link-border: #0097a7;
  --select-border: #3700b3;
  --select-font: #212121;
  --select-hover: rgba(210, 210, 210, 0.2);
  --header-border: #e9e9e9;
  --header-background: #faffff;
  --search-background: rgba(210, 210, 210, 0.2);
  --sidebar-background: rgba(255, 255, 255, 0.7);
  --modal-header: rgba(255, 255, 255, 0.7);
  --chart-line-border: #009688;
  --sidebar-font: rgba(0, 151, 167, 0.41);
  --sidebar-selected: #0097a7;
  --table-header: #0097a7;
  --table-inner: transparent;
  --collapse-table-header: #0097a7;
  --table-border-style: hidden;
  --secondary-checkbox: #505051;
  --loader-background: #ffffff;

  --table-header-font: #ffffff;
  --table-header-secondary: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #009688;
  --ceil: #ffffff;
  --ceil-even: rgba(210, 210, 210, 0.2);
  --signIn-subtitle: rgba(33, 33, 33, 0.6);
  --icon-primary: #212121;
  --icon-primary-opacity: 0.4;
  --icon-secondary-selected: #0097a7;
  --icon-secondary: #0097a7;
  --sidebar-line: #d6d6d6;
  --table-border: #e9e9e9;
  --collapse-table-border: #e9e9e9;
  --collapse-table-background: rgba(255, 255, 255, 0.7);

  --collapse-table-shadow: 0px 2px 25px 2px rgba(0, 0, 0, 0.12);
  --table-padding: 24px;
  --disable: #4c5853;
  --select-option: #faffff;
  --select-background: rgba(210, 210, 210, 0.2);
  --popup-background: #ffffff;
  --popup-border: #0097a7;
  --popup-font: black;
  --modal-info: rgba(33, 33, 33, 0.5);
  --chart-1: #6794dc;
  --chart-2: #6771dc;
  --chart-3: #8067dc;
  --chart-4: #c767dc;
  --chart-5: #d0358f;
  --chart-6: #67b7dc;
  --chart-7: #14ab6c;
  --chart-8: #fe8463;
  --chart-9: #d7504b;
  --bricks-header: #212121;
  --export-text: #b3b3b3;
  --after-background: rgba(255, 255, 255, 0.7);
  --add-button: #413ac7;
  --empty-text: #080808;
  --alert-font: #080808;
  --cancel: #4c4b53;
  --placeholder-select: #9a99a6;
  --option-shadow: 0px 2px 25px 2px rgba(0, 0, 0, 0.12);
  --tab-selected-border: #413ac7;
  --tab-selected: #000000;
  --tab-not-selected: #9a99a6;
  --order-table-collapsed: rgba(0, 151, 167, 0.05);
  --paper: #ffffff;
  --icon-selected: #605d7b;
  --svg: #4c4b53;
  --dropdown-svg: #080808;
  --secondary-checkbox-check: #212121;
  --calendar: #e5e5e5;
  --calendar-alpha: rgba(0, 151, 167, 0.05);
  --select-btn: #3700b3;
  --table-svg: #ffffff;
  --loading: rgba(0, 0, 0, 1.5);
  --chart-tooltip: rgba(46, 46, 46, 0.7);
  --scroll: #d9d9d9;
  --filter-svg: #9a99a6;
  --error-page: #2c2d59;
  --error-background: #ffffff;
}

[data-theme='dark'] {
  --table-head: transparent;
  --table-item: #29292e;
  --table-title: #fff;
  --font: #ffffff;
  --background: #080808;
  --placeholder: #4c4b53;
  --button-background: #4da4a0;
  --button-background-secondary: #413ac7;
  --button-color: #ffffff;
  --button-border: rgba(88, 195, 190, 0.1);
  --button-border-secondary: #413ac7;
  --checkbox-input: #6c7c7c;
  --secondary-checkbox-check: #ffffff;
  --checkbox-color: rgba(255, 255, 255, 1);
  --danger: #b22424;
  --copyright: #677a7a;
  --input-color: #ffffff;
  --secondary-checkbox: #505051;
  --loader-background: rgba(0, 0, 0, 0.9);
  --input-background: rgba(56, 56, 56, 0.2);
  --input-background-secondary: rgba(152, 172, 171, 0.25);
  --input-active: rgba(56, 56, 56, 0.22);
  --input-border: #413ac7;
  --link-color: #ffffff;
  --error-page: #eaeafc;
  --link-border: #413ac7;
  --select-border: #413ac7;
  --select-font: #ffffff;
  --select-hover: rgba(245, 245, 245, 0.1);
  --header-border: #29292e;
  --header-background: #080808;
  --search-background: rgba(56, 56, 56, 0.2);
  --sidebar-background: rgba(56, 56, 56, 0.16);
  --modal-header: rgba(56, 56, 56, 0.7);
  --sidebar-font: #ffffff;
  --sidebar-selected: #413ac7;
  --table-header: transparent;
  --table-inner: rgba(56, 56, 56, 0.16);
  --collapse-table-header: #101010;
  --table-border-style: solid;

  --table-header-font: #9a99a6;
  --table-header-secondary: rgba(56, 56, 56, 0.16);
  --ceil: transparent;
  --ceil-even: transparent;
  --signIn-subtitle: rgba(162, 191, 190, 0.8);
  --icon-primary: #ffffff;
  --icon-primary-nav: #ffffff;
  --chart-line-border: linear-gradient(266.81deg, #13ae6c 45.24%, rgba(19, 174, 108, 0.31) 77.29%);
  --icon-primary-opacity: 1;
  --icon-secondary-selected: #413ac7;
  --icon-secondary: #ffffff;
  --sidebar-line: #29292e;
  --table-border: #29292e;
  --collapse-table-border: #29292e;
  --table-padding: 24px;
  --disable: #4c5853;
  --select-option: linear-gradient(0deg, rgba(12, 0, 29, 0.02), rgba(12, 0, 29, 0.02)),
    rgba(26, 24, 24, 0.9);
  --collapse-table-shadow: rgba(56, 56, 56, 0.16);
  --collapse-table-background: #101010;
  --select-hover: rgba(245, 245, 245, 0.1);
  --select-background: rgba(56, 56, 56, 0.2);
  --popup-background: rgba(0, 0, 0, 0.65);
  --popup-border: #23162e;
  --popup-font: #ab9ab7;
  --modal-info: rgba(171, 154, 183, 0.3);
  --chart-1: #552cae;
  --chart-2: #ad90dc;
  --chart-3: #787fbb;
  --chart-4: #9158ff;
  --chart-5: #ffffff;
  --chart-6: #7181fe;
  --chart-7: #1e71c0;
  --chart-8: #413ac7;
  --chart-9: #d7504b;
  --bricks-header: #a2a2a2;
  --export-text: #4c4b53;
  --after-background: #474646;
  --add-button: #0097a7;
  --empty-text: #ffffff;
  --alert-font: #ffffff;
  --cancel: #9a99a6;
  --placeholder-select: #4c4b53;
  --option-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  --tab-selected-border: #413ac7;
  --tab-selected: #ffffff;
  --tab-not-selected: #29292e;
  --order-table-collapsed: rgba(56, 56, 56, 0.2);
  --paper: #101010;
  --icon-selected: #ffffff;
  --svg: #9a99a6;
  --dropdown-svg: #e5e5e5;
  --table-svg: #9a99a6;
  --calendar: rgba(7, 7, 25, 0.15);
  --calendar-alpha: rgba(65, 58, 199, 0.15);
  --select-btn: #3700b3;
  --loading: rgba(0, 0, 0, 0.5);
  --chart-tooltip: rgba(46, 46, 46, 0.7);
  --scroll: #404046;
  --filter-svg: #ffffff;
  --error-background: #000000;
}
