.toolbar {
  @extend %flex-between;

  &_noLink {
    justify-content: flex-end;
  }

  &__link {
    width: 100%;
  }
  &__filter {
    cursor: pointer;
    margin-right: 30px;
    @extend %flex-center;
    align-items: baseline;
    gap: 8px;
    svg path {
      fill: var(--filter-svg);
    }
  }
}
.wrapper {
  @extend %flex-column;
  gap: 30px;
  margin-bottom: 32px;

  &__account {
    margin: 0;
  }
}

.tabs {
  gap: 32px;
  font-size: 16px;
  line-height: 20px;
  color: var(--cancel);
  justify-content: start;
  @extend %flex-align;
  @extend %text-16-bold;

  &__wrapper {
    @extend %flex-between;
  }
}
