.action {
  gap: 4px;
  right: 0;
  position: absolute;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  cursor: pointer;
  @extend %flex-align;

  span {
    color: var(--font);
  }

  svg path {
    fill: var(--font);
  }

  &__item {
    gap: 2px;
    margin: 0;
    padding: 0 4px;
    background: transparent;
    @extend %flex-align;

    &:disabled {
      span {
        color: var(--disable);
      }

      svg path {
        fill: var(--disable);
      }
    }

    &__text {
      color: $primary-font;
      @extend %text-14;
    }

    &__active {
      font-weight: bold !important;
    }
  }
}
