.btn {
  width: 100%;
  padding: 10px 0;
  border-radius: 4px;
  @extend %flex-center;
  @extend %text-14;

  &__small {
    max-width: 168px;
  }
  &__middle {
    max-width: 116px;
  }
  &__large {
    max-width: 116px;
  }
  &__primary {
    @extend %text-14-bold;
    background: transparent;
    color: var(--link-color);
    border: 1px solid var(--link-border);
    text-transform: uppercase;
  }
}
