.calendar {
  position: relative;
  width: 100%;
  @extend %flex-column;
  gap: 6px;

  &__label {
    color: var(--font);
    @extend %text-14;
  }

  &__header {
    gap: 12px;
    cursor: pointer;
    padding: 7px 11px;
    border-radius: 4px;
    width: 100%;
    border: 1px solid transparent;
    background: var(--input-background);
    min-width: 295px;
    @extend %flex-between;

    span {
      width: 100%;
      border: none;
      color: var(--font);
      background-color: transparent;
      @extend %filter-16;
    }

    &:hover {
      border-color: var(--select-border);
    }

    &__placeholder {
      color: var(--placeholder) !important;
    }

    svg path {
      fill: var(--svg);
    }
  }

  &__inner {
    padding: 16px;
    color: var(--font) !important;
    background-color: var(--background) !important;
    border: 1px solid var(--header-border) !important;
    border-radius: 4px;
    filter: drop-shadow(var(--option-shadow));
  }

  &__wrapper {
    top: 0;
    display: none;
    z-index: 10000;
    width: 100%;
    max-width: 406px;
    min-height: 100%;
    border-radius: 4px;
    position: absolute;
    white-space: nowrap;
    background-color: var(--background);

    &__open {
      display: block;
    }
  }
  &__arrow {
    path {
      fill: var(--font);
    }
  }
}
.error {
  border-color: var(--danger) !important;

  &__text {
    margin-top: 4px;
    color: var(--danger);
    @extend %text-14;
  }
}
