.container {
  width: 100%;
  color: var(--input-color);
  border: none;
  outline: none;
  padding: 16px 21px;
  transition: all 0.1s;
  background: var(--input-background);
  line-height: 100%;
  border-radius: 4px;
  border: 1px solid transparent;
  @extend %text-14;
  @extend %flex-align;

  &__isLabel {
    padding: 11px 9px;
  }
  &__small {
    padding: 11px 9px;
  }

  &:hover,
  &:active,
  &:focus {
    background: var(--input-active);
    border-color: var(--input-border);
  }

  // &:-webkit-autofill {
  //   -webkit-box-shadow: 0 0 0px 1000px var($primary-input) inset !important;
  //   -moz-box-shadow: 0 0 0 100px var($primary-input) inset !important;
  //   box-shadow: 0 0 0 100px var($primary-input) inset !important;
  //   -webkit-text-fill-color: var($primary-font) !important;
  // }

  &_with_icon {
    padding-right: 50px;
  }

  &__inner {
    gap: 6px;
    flex-direction: column;
    align-items: flex-start;
    @extend %flex-align;

    &__label {
      color: var(--font);
      @extend %text-14;
    }
    &__error {
      margin-bottom: 0;
    }

    &_disabled {
      background-color: gray;
    }
  }

  &__error {
    border-color: var(--danger) !important;

    &__text {
      margin-top: 4px;
      color: var(--danger);
      @extend %text-14;
    }
  }

  &__right_icon {
    right: 16px;
    cursor: pointer;
    position: absolute;
    top: calc(50% - 12px);
  }
}
.input {
  width: 100%;
  color: var(--font);
  position: relative;

  &::placeholder {
    color: var(--placeholder);
  }
}
